@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* TODO fix font family tailwind Inter */
	@apply cx-font-sans !important;
}

#root {
	@apply cx-h-screen;
}

.Toastify__toast {
	 background: #fff;
	 color: #000;
	 font-size: 13px;
	 font-family: inherit;
}
 .Toastify__toast .Toastify__close-button {
	 color: #000;
}
 .Toastify__toast.Toastify__toast--success {
	 background: #fff;
	 border-left: 2px solid #84e7b5;
}
 .Toastify__toast.Toastify__toast--error {
	 background: #fff;
	 border-left: 2px solid #f10b0b;
}
 .Toastify__toast.Toastify__toast--info {
	 background: #fff;
	 border-left: 2px solid #007ee6;
}

.datepicker-full .sked-ui-calendar {
	@apply cx-w-full;
}